pkgbase = azadi-noweb
	pkgdesc = A Rust implementation of noweb-style literate programming tool
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/giannifer7/azadi-noweb
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = cargo
	source = azadi-noweb-1.0.0.tar.gz::https://github.com/giannifer7/azadi-noweb/archive/v1.0.0.tar.gz
	sha512sums = 5270a8f9c9f69f35fa9554e6b99af9cf8bfa18ca3f0bd47ed8e6506f843fec2fb28d24af99c34a793ee1f8d74caf5e970921b95d3f633df0d7abf6af3f41392a

pkgname = azadi-noweb
