pkgbase = azadi-noweb
	pkgdesc = A Rust implementation of noweb-style literate programming tool
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/giannifer7/azadi-noweb
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = cargo
	source = azadi-noweb-0.1.2.tar.gz::https://github.com/giannifer7/azadi-noweb/archive/v0.1.2.tar.gz
	sha512sums = 42d8de465c83decdb4d0d34981872359fe2ada9ba3bc0ac995b6912f62a5906a9d0e9631e23c03cdd36142452804296fff5099f9bc709d9df990fd89c8ae105d

pkgname = azadi-noweb
